<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-3">
                <img th:src="@{/images/logo.png}" style="height:100px;" class="img-fluid">


            </div>
            <div class="col-md-3">
                <hr class="light">
                <h5>Social Media</h5>
                <hr class="light">
                <div class="col-12 social padding">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus-official"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <img th:src="@{/images/play.png}"  class="img-fluid">
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <img th:src="@{/images/app.png}"  class="img-fluid">
                </a>
            </div>
            <div class="col-12">
                <hr class="light-100 ">
                <h5>&copy;asdsadsa.com</h5>
            </div>
        </div>

    </div>

</footer>