<header class="main-header" xmlns:th="http://www.thymeleaf.org">



    <div class="header-section">
        <!-- top_bg -->
        <div class="top_bg">

            <div class="header_top">
                <div class="top_right">
                    <ul>
                        <li><a th:href="@{#}">About Us</a></li>
                        <li><a th:href="@{#}">Contact</a></li>
                        <li><a th:href="@{#}">services</a></li>
                        <li><a th:href="@{/login1}">LogIN</a></li>
                        <li><a th:href="@{/registration}">Register</a></li>
                        <!--li><a th:href="@{checkout.html}">Delivery information</a></li-->
                    </ul>
                </div>


                        <!--li><a th:href="@{checkout.html}">Delivery information</a></li-->

                <div class="clearfix"> </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <!-- /top_bg -->
    </div>
</header>
