<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>share Ride</title>
	<th:block th:include="/driver/fragments/headerlink :: head"></th:block>
	<style>
		#reg2{
			display: none;
		}
		 .nav-tabs{
			margin-top: 3%;
			border: none;
			background: #252525;
			border-radius: 1.5rem;
			width: 38%;

		}
		 .nav-tabs .nav-link{
			padding: 2%;
			height: 34px;
			font-weight: 600;
			color: #FFFFFF;
			border-top-right-radius: 1.5rem;
			border-bottom-right-radius: 1.5rem;
		}
		 .nav-tabs .nav-link:hover{
			border: none;
		}
		 .nav-tabs .nav-link.active{
			width: 100px;
			color: #252525;
			border: 2px solid #2b2b2b;
			border-top-left-radius: 1.5rem;
			border-bottom-left-radius: 1.5rem;
		}
	</style>
</head>
<div class="page-container">
	<!--/content-inner-->
	<div class="left-content">
		<div class="inner-content">
			<header th:include="/driver/fragments/indexheader"></header>


 <div class="content">
<div class="women_main ">
	<!-- start content -->
<div class="registration " id="reg1">

	<div class="registration_left mx-auto d-block ">
		<!-- Nav tabs -->
		<ul  class="nav nav-tabs nav-justified" role="tablist">
			<li class="nav-item" role="presentation" ><a class="nav-link  active" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Rider</a></li>
			<li  class="nav-item" role="presentation"><a class="nav-link" href="#home" aria-controls="home" role="tab" data-toggle="tab">Driver</a></li>

		</ul>
		<br>
		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="profile">
				<h2>New Rider? <span> create an account </span></h2>

				<div class="registration_form">
					<!-- Form -->
					<form th:action="@{#}">
						<div class="form-group">
							<label>
								<input placeholder="Rider First Name" type="text" tabindex="1" required="" autofocus="">
							</label>
						</div>
						<div class="form-group row">
							<select name="countrycode" id="cc" required  class="col-4 custom-select">
								<option  value="a" disabled selected>Country code</option>
								<option  value="India +91">India +91</option>
								<option  value="Qatar +974">Qatar +974</option>
								<option  value="Bangladhesh ">Bangladhesh </option>
								<option  value="USA">USA</option>

							</select>

							<input class="col-8 " placeholder="Rider mobile no" type="text" tabindex="2" required="" autofocus="">
						</div>
						<div class="form-group">
							<label>
								<input placeholder="Enter Your OTP" type="text" tabindex="1" required="" autofocus="">
							</label>
						</div>
						<div>
							<label>
								<input placeholder="password" type="password" tabindex="4" required="">
							</label>
						</div>
						<div>
							<label>
								<input placeholder="retype password" type="password" tabindex="4" required="">
							</label>
						</div>
						<div>
							<input class="mx-auto d-block"  type="submit" value="Resgister">
						</div>

					</form>
					<!-- /Form --></div></div>
			<div role="tabpanel" class="tab-pane " id="home">
				<h2>New Driver? <span> create an account </span></h2>

				<div class="registration_form">
					<!-- Form -->
					<form th:action="@{#}">
						<div class="form-group">
							<label>
								<input placeholder="Driver First Name" type="text" tabindex="1" required="" autofocus="">
							</label>
						</div>
						<div class="form-group row">
							<select name="countrycode" id="cc" required  class="col-4 custom-select">
								<option  value="a" disabled selected>Country code</option>
								<option  value="India +91">India +91</option>
								<option  value="Qatar +974">Qatar +974</option>
								<option  value="Bangladhesh ">Bangladhesh </option>
								<option  value="USA">USA</option>

							</select>

							<input class="col-8 " placeholder="Driver mobile no" type="text" tabindex="2" required="" autofocus="">
						</div>
						<div class="form-group">
							<label>
								<input placeholder="Enter Your OTP" type="text" tabindex="1" required="" autofocus="">
							</label>
						</div>
						<div>
							<label>
								<input placeholder="password" type="password" tabindex="4" required="">
							</label>
						</div>
						<div>
							<label>
								<input placeholder="retype password" type="password" tabindex="4" required="">
							</label>
						</div>
						<div>
							<input class="mx-auto d-block"  type="submit" value="Resgister">
						</div>

					</form>
					<!-- /Form --></div>
			</div>
		</div>


		</div>


	<div class="clearfix"></div>
	</div>
	<div>



		<!-- Tab panes -->


	</div>
		</div>


</div>
			<th:block th:include="/driver/fragments/footer"></th:block>
			<aside th:include="/driver/fragments/indexslidebar"></aside>
		</div>
	</div>
</div>
<th:block th:include="/driver/fragments/headerlink :: footer"></th:block>
</body>
</html>
